<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Email Confirmation</title>
</head>
<body>
    <p>Hello {{name}},</p>
    <p>A contact form was filled out on {{hostname}} using this email address.</p>
    <p>If you did not request this action, please disregard this email and your email address will be removed automatically within 48 hours.</p>
    <p>If you did request this action, please click on the following link to confirm your request.</p>
    <p><a href="{{endpoint}}">Confirm</a></p>
</body>
</html>